$primaryBgColor: teal;
$blackColor: black;
$whiteColor: #fff;
$inputBgColor: #f0f0f0;
$btnSubmitBgColor: #66b2b2;
$btnSubmitHoverBgColor: #b2d8d8;
$btnSubmitHoverColor: #404040;
$anchorColor: #88dfdf;
$anchorHoverColor: #e6fcfc;
$errorMessageBGColor: #ffdddd;
$navColor: #88dfdf;
$navAnchorHoverColor: #e6fcfc;
$cartBgColor: #1ad1b9;
$cartSecondColor: #88dfdf;
$cartThirdColor: #1d1d1d;
$btnCloseBorder: red;
$bgBorderSucess: #4cae4c;
$bgSuccess: #5cb85c;
$btnBorderDanger: #d43f3a;
$btnDanger: #d9534f;
$grayEighty: #ccc;