* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e7f8f8;
  }
  
  .centered {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .focused {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
  
  .layout-main {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .main-nav--header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
  }
  
  .main-nav--logo {
  font-size: 2rem;
  color: white;
  }
  
  .main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  }
  
  .main-nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  }
  
  .main-nav a {
  text-decoration: none;
  color: #88dfdf;
  }
  
  .main-nav a:hover,
  .main-nav a:active,
  .main-nav a.active {
  color: #e6fcfc;
  }
  
  .main-nav a.inactive {
    color: none;
    }
  
  .right-main--nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 4% 0 0;
    align-items: center;
  }
  
  .right-main--nav li{
    margin-left: 1.5rem;
    font-size: 1.25rem;
  }
  
  .right-main--nav li a{
    margin-left: 1.5rem;
    font-size: 1.25rem;
  }
  
  .right-main--nav a {
    text-decoration: none;
    color: #88dfdf;
  }
  
  .right-main--nav a:hover {
    color: #e6fcfc;
  }
  
  .ui-card {
  /* padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  display: flex;
  position: relative; */
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 13vh;
    left: 45%;
    /* max-width: 700px; */
    width: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    /* float: left;
    left: 50%;
    top: 50%; */
    margin: auto auto;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  .modal-content {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    padding: 1rem;
  }
  
  .notification {
    width: 100%;
    height: 3rem;
    background-color: #1a8ed1;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10%;
    align-items: center;
    color: white;
  }
  
  .notification h2,
  .notification p {
    font-size: 1rem;
    margin: 0;
  }
  
  .notification-error {
    background-color: #690000;
  }
  
  .notification-success {
    background-color: #1ad1b9;
  }
  
  .cart-button {
    /* background-color: transparent; */
    /* background-color: white; */
    border-color: #1ad1b9;
    /* color: #1ad1b9; */
  
    cursor: pointer;
    font: inherit;
    border: 0.12px solid #88dfdf;
    background-color: transparent;
    color: #88dfdf;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .cart-button:hover,
  .cart-button:active {
    color: white;
    background-color: #88dfdf;
  }
  
  .cart-button span {
    margin: 0 0.5rem;
  }
  
  .cart-button__badge {
    background-color: #1ad1b9;
    border-radius: 15px;
    padding: 0.10rem 1.1rem;
    color: #1d1d1d;
  }
  
  .reg-form {
    position: relative;
    width: 100%;
  }
  
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reg-control {
    margin-bottom: 0.5rem;
  }
  
  .reg-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .reg-control input {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
  }
  
  .reg-control input:focus {
    background-color: #cbf8f8;
    outline-color: teal;
  }
  
  .reg-actions {
    text-align: right;
  }
  
  .reg-actions button {
    font-size: 1.25rem;
  }
  
  .btn-add__employee {
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.45rem 0.45rem;
    border: 1px solid teal;
    cursor: pointer;
    left: 15rem;
    /* font-weight: bold; */
    font-size: 1.20rem;
    position: relative;
    margin: 2rem 10rem 0 0;
  }
  
  /* .btn button {
    font-size: 1.35rem;
    text-align: right;
  } */
  
  .btn-add__employee:hover {
    color: white;
    background-color: #88dfdf;
  }
  
  .cancel-btn {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
  }
  
  .cancel-btn:hover {
    color: white;
    background-color: #ffb3b3;
  }
  
  .btn-submit {
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
  }
  
  .btn-submit:hover,
  .btn-submit:active {
    background-color: #11acac;
    border-color: #11acac;
  }
  /* 
  .emp-table {
    width: 65rem;
    display: flex;
    position: relative;
  } */
  
  .content-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1em;
    /* min-width: 400px; */
    max-width: 100rem;
    
    /* position: relative; */
    
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 90rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
  }
  
  .content-table thead tr {
    background-color: teal;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .btn-deactivate{
    text-decoration: none;
    background-color: #ff8080;
    color: white;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    border: 1px solid #ff4d4d;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 0.78rem;
  }
  
  .btn-deactivate:hover {
    color: white;
    background-color: #ffcccc;
  }
  
  .btn-activate{
    text-decoration: none;
    background-color: #00e68a;
    color: white;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    border: 1px solid #00b3b3;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 0.78rem;
  }
  
  .btn-activate:hover {
    color: white;
    background-color: #b3ffe0;
  }
  
  .btn-edit{
    text-decoration: none;
    background-color: #b3b300;
    color: white;
    border-radius: 4px;
    padding: 0.3rem 1.45rem;
    border: 1px solid #e6e600;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 0.78rem;
  }
  
  .btn-edit:hover {
    background-color: #ffff00;
    color: #333333;
  }
  
  .btn-detail{
    text-decoration: none;
    background-color: #009eb3;
    color: white;
    border-radius: 4px;
    padding: 0.3rem 1.45rem;
    border: 1px solid #4deaff;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 0.78rem;
  }
  
  .btn-detail:hover {
    background-color: #99f3ff;
    color: #333333;
  }
  
  /* login page */
  .auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: teal;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
  }
   
  .auth h1 {
    text-align: center;
    color: white;
    font: inherit;
    font-size: 2rem;
  }
  
  .auth-control {
    margin-bottom: 0.5rem;
  }
  
  .auth-control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.55rem;
    text-align: left;
    font: inherit;
    /* font-size: 1rem; */
  }
  
  .auth-control input {
    font: inherit;
    background-color: #f0f0f0;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    margin-bottom: 0.50rem;
  }
  
  .auth-actions {
    margin-top: 0.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth-actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #66b2b2;
    border: 1px solid #004c4c;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    width: 100%
  }
  
  .auth-actions button:hover {
    background-color: 	#b2d8d8;
    border-color: #66b2b2;
    color: #404040;
  }
  
  .auth-actions a {
    text-decoration: none;
    color: #88dfdf;
    margin-top: 1.45rem;
    margin-bottom: 0.50rem;
  }
  
  .auth-actions a:hover {
    color: #e6fcfc;
  }
  
  .spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  }
  
  .spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1.2s linear infinite;
  }
  
  .pos-products{
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }
  
  .category-select{
    position: relative;
     display: flex;
     width: 10em;
     height: 2.1em;
     line-height: 3;
     /* background: #5c6664; */
     overflow: hidden;
    
     
  }
  
  .category-select select {
    appearance:none;
    outline:0;
    box-shadow:none;
    /* border:0!important; */
    background: transparent;
    /* background-image: none; */
    flex: 1;
    padding: 0 1rem;
    color:#0d0d0d;
    cursor:pointer;
    font-size: 1em;
    font-family: inherit;
    border: .1em solid teal;
    
  }
  
  .category-select select:hover {
    background: teal;
    color: white;
  }
  
  /* .category-select select::after {
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1em;
     background: #2b2e2e;
     cursor:pointer;
     pointer-events:none;
     transition:.25s all ease;
  } */
  
  .pos-products ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .pos-product__item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .pos-product__item h3 {
    margin: 0.2rem 0;
    font-size: 1.25rem;
  }
  
  .pos-product__item p {
    color: #3a3a3a;
  }
  
  .pos-product__item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .pos-product__item--description {
    font-style: italic;
    margin-bottom: 0.20rem;
  }
  
  .pos-product__item--price {
    max-width: 10rem;
    width: 10rem;
    border-radius: 30px;
    padding: 0.15rem 1rem;
    background-color: teal;
    color: white;
    font-size: 1.5rem;
  }
  
  .pos-product__item--form {
    text-align: right;
  }
  
  .pos-product__item--form button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid teal;
    color: #0d0d0d;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 0.65rem;
  }
  
  .pos-product__item--form button:hover,
  .pos-product__item--form button:active {
    background-color: teal;
    /* border-color: #641e03; */
    color: white;
  }
  
  .pos-product__item--input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .pos-product__item--input label {
    font-weight: bold;
    margin-right: 1rem;
    
  }
  
  .pos-product__item--input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }
  
  .cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .cart-actions {
    /* text-align: right;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0; */
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .cart-actions button {
    /* position: fixed; */
    /* display: flex;
    flex-direction: column; */
    font: inherit;
    cursor: pointer;
    /* background-color: transparent;
    border: 1px solid #8a2b06; */
    padding: 0.8rem 2rem;
    border-radius: 20px;
    /* margin-left: 1rem; */
  }
  
  /* .cart-actions button:hover,
  .cart-actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  } */
  
  .cart-actions .cart-button__close {
    background-color: transparent;
    border: 1px solid red;
  }
  
  .cart-actions .cart-button__close:hover {
    color: white;
    background-color: red;
  }
  
  .cart-actions .cart-button__order {
    border: 1px solid teal;
    background-color: teal;
    color: white;
  }
  
  .cart-actions .cart-button__order:hover {
    
    background-color: #88dfdf;
    color: black;
  }
  
  .cart-total {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: left; */
    /* font-weight: bold; */
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
  }
  
  .cart-total span {
    position: relative;
    margin: 0.4rem 0.5rem;
  }
  
  .total-amount{
    align-items: right;
    text-decoration: underline;
  }
  
  .cart-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid teal;
    padding: 1rem 1rem;
    margin: 1rem 0;
  }
  
  .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
  }
  
  .cart-item__summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item__price {
    font-weight: bold;
    color: teal;
  }
  
  .cart-item__amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
  }
  
  .cart-item__actions {
    display: flex;
    flex-direction: column;
  }
  
  .checkout-form {
    margin: 0.2rem 0.45rem;
    height: 5rem;
    /* overflow: auto; */
    
  }
  
  .checkout-customer{
    /* margin: 0.1rem 0; */
    /* padding: 1rem 1rem; */
    padding-left: 0.5rem;
    margin-bottom: 2rem;
  }
  
  .checkout-customer select {
    appearance:none;
    outline:0;
    box-shadow:none;
    /* border:0!important; */
    background: transparent;
    /* background-image: none; */
    flex: 1;
    padding: 0 1rem;
    color:#0d0d0d;
    cursor:pointer;
    font-size: 1em;
    font-family: inherit;
    border: .1em solid teal;
  }
  
  .checkout-customer select:hover {
    background: teal;
    color: white;
  }
  
  .checkout-form__control {
    margin-bottom: 0.5rem;
  }
  
  .checkout-form__control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .checkout-form__control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .checkout-form__actions {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .checkout-form__actions button {
    font: inherit;
    /* color: #5a1a01; */
    cursor: pointer;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .checkout-form__cancel {
    background-color: transparent;
    border: 1px solid red;
  }
  
  .checkout-form__cancel:hover {
    background-color: red;
    color: white;
  }
  
  /* .checkout-form__actions button:hover,
  .checkout-form__actions button:active {
    background-color: #ffe6dc;
  } */
  
  .checkout-form__actions .checkout-form__submit {
    border: 1px solid teal;
    background-color: teal;
    color: white;
  }
  
  .checkout-form__actions .checkout-form__submit:hover,
  .checkout-form__actions .checkout-form__submit:active {
    background-color: #88dfdf;
    color: black;
  }
  
  .checkout-form__invalid label {
    color: #ca3e51;
  }
  
  .checkout-form__invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }
  
  .inventory-content form .inventory-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    /* overflow: hidden; */
  }
  
  .inventory-container {
    max-height: 43rem;
    overflow: auto;
  }
  
  .transaction-container{
    margin-top: 2rem;
    max-height: 43rem;
    overflow: auto;
  }
  
  .Profile-dropdown__menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .Profile-dropdown__menu li {
    background: #1888ff;
    cursor: pointer;
  }
  
  .Profile-dropdown__menu li:hover {
    background: #5cabff;
  }
  
  .Profile-dropdown__menu .clicked {
    display: none;
  }
  
  .Profile-dropdown__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  .dashboard-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    background-color: white;
    padding: 15px 20px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border:  #00cdcd solid 1px;
  }
  
  .dashboard-list{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 17px 80px;
    /* border: solid 1px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* font-size: 20px; */
    
  }
  
  .dashboard-label {
    left: 27%;
    position: relative;
   
  }
  
  .profile-form {
    margin: 3rem auto;
    width: 95%;
    max-width: 45rem;
    border-radius: 6px;
    background-color: white;
    border: 1px teal solid;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: black;
  }
   
  .autprofile-formh h1 {
    text-align: center;
    color: black;
    font: inherit;
    font-size: 2rem;
  }
  
  .profile-control {
    margin-bottom: 0.5rem;
  }
  
  .profile-control label {
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 0.55rem;
    text-align: left;
    font: inherit;
    /* font-size: 1rem; */
  }
  
  .profile-control input {
    font: inherit;
    background-color: #f0f0f0;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid teal;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    margin-bottom: 0.50rem;
    color:  #686464;
  }
  
  .error-info{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
  }
  
  .btn-change__password {
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.45rem 0.45rem;
    border: 1px solid teal;
    cursor: pointer;
    left: 37.45rem;
    /* font-weight: bold; */
    font-size: 1.20rem;
    position: relative;
    margin: 2rem 10rem 0 0;
  }
  
  /* .btn button {
    font-size: 1.35rem;
    text-align: right;
  } */
  
  .btn-change__password:hover {
    color: white;
    background-color: #88dfdf;
  }
  
  .pos-success__message{
    border: 1px solid #4dffa3;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #262626;
    font: inherit;
    background-color:  #33ffad;
  }
  
  @keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  }
  
  @keyframes products-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }